global
    maxconn 4096                    # giới hạn kết nối đến Proxy
    daemon
    log 127.0.0.1   local0
    log 127.0.0.1   local1 notice

defaults
    timeout connect 10s
    timeout client 30s
    timeout server 30s

    log global
    mode http                           # mode tcp
    option httplog                      # option tcplog
    maxconn 3000

    stats enable
    # option forwardfor
    # option http-server-close
    stats uri /haproxyStats             # URL trang thống kê
    stats auth admin:admin123           # user/pass truy cập trang thống kê http://localhost:8080/haproxyStats


# FONTEND xử lý yêu cầu gửi đến port 80
frontend http-in
        bind *:80
        acl acl80_mommybaby_vn hdr_dom(host) -i  mommybaby.vn localhost # nếu truy cập bằng domain testaproxy1.com
        #acl host_test2 hdr_dom(host) -i  testhaproxy2.com  # nếu truy cập bằng domain testaproxy2.com

        use_backend bk_80_mommybaby_vn if acl80_mommybaby_vn             # gửi đến backend bke_80_test1 nếu host_test1 thỏa mãn
        #use_backend bke_80_test2 if host_test2             # gửi đến backend bke_80_test2 nếu host_test2 thỏa mãn

backend bk_80_mommybaby_vn
        balance roundrobin 
        option httpclose
        option forwardfor
        server bk_80_mommybaby_vn mommybabyvn:80 check

# FONTEND xử lý/ yêu cầu gửi đến port 443
frontend https-in
        bind *:443
        mode tcp                                            # chế độ cân bằng tải tcp
        option tcplog
        tcp-request inspect-delay 10s
        tcp-request content accept if { req_ssl_hello_type 1 }

        acl acl443_mommybaby_vn req.ssl_sni -m end mommybaby.vn        # nếu truy cập bằng domain testaproxy1.com
        #acl acl2 req.ssl_sni -m end testhaproxy2.com        # nếu truy cập bằng domain testaproxy1.com

        #use_backend bke_443 if acl1 || acl2                 # gửi request đến bke_443 nếu acl1 hoặc acl2 thỏa mãn
	    use_backend bk_443_mommybaby_vn if acl443_mommybaby_vn


backend bk_443_mommybaby_vn
        mode tcp
        balance source
        option ssl-hello-chk
        server bk_443_mommybaby_vn  mommybabyvn:443 check
        #redirect scheme https if !{ ssl_fc }
